table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 30px;
}

tr {
  height: 30px;
}

td.white {
  background-color: white;
}

td.black {
  background-color: black;
}

td.grey {
  background-color: gray;
}

td.red {
  background-color: red;
}
